@import 'tailwindcss';

:root {
  color-scheme: light dark;
  color: #05050505;
  background-color: #FFFBF2;
  font-family: 'Inter', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Cormorant Garamond', serif;
}

button {
  cursor: pointer;
}